<div style="width: 100%; height: 100%;background-color:  rgba(190, 181, 245, 0.123);">
    <ngb-carousel *ngIf="images">
        <!-- <ng-template ngbSlide>
            <img class='img-fluid' [src]="images[0]" alt="Random first slide">
            <div class="carousel-caption">
                <h3>10 seconds between slides...</h3>
                <p>This carousel uses customized default values.</p>
            </div> 
        </ng-template> -->

        <ng-template ngbSlide>
            <img class='img-fluid' src="assets/school-landing@1.4x.png" alt="Random second slide">
            <div fxLayout="column" fxShow.lt-md="false" class="carousel-caption">
                <h3>Back to school !</h3>
                <p>Education is the key to Unlocking the world,passport to freedom !</p>
            </div>
        </ng-template>

        <ng-template ngbSlide>
            <img class='img-fluid' src="assets/4.png" alt="Random second slide">
            <div fxLayout="column" fxShow.lt-md="false" class="carousel-caption">
                <h3>Back to school !</h3>
                <p>Education is the key to Unlocking the world,passport to freedom !</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='img-fluid' src="assets/5.png" alt="Random third slide">
            <div fxLayout="column" fxShow.lt-md="false" class="carousel-caption">
                <h3>Back to school !</h3>
                <p>Education is the key to Unlocking the world,passport to freedom !</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='img-fluid' src="assets/6.png" alt="Random fourth slide">
            <div fxLayout="column" fxShow.lt-md="false" class="carousel-caption">
                <h3>Back to school !</h3>
                <p>Education is the key to Unlocking the world,passport to freedom !</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='img-fluid' src="assets/7.png" alt="Random fourth slide">
            <div fxLayout="column" fxShow.lt-md="false" class="carousel-caption">
                <h3>Back to school !</h3>
                <p>Education is the key to Unlocking the world,passport to freedom !</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class='img-fluid' src="assets/8.png" alt="Random fourth slide">
            <div fxLayout="column" fxShow.lt-md="false" class="carousel-caption">
                <h3>Back to school !</h3>
                <p>Education is the key to Unlocking the world,passport to freedom !</p>
            </div>
        </ng-template>
    </ngb-carousel>

    <div fxLayout="column" fxShow.lt-md="false" style=" margin-top: 3px; padding: 15px;background-color: rgb(0, 0, 0);   font-family: Cambria, Cochin, Georgia, Times, Times New Roman,serif;
    color:white">
        <div style="padding: 25px">
            <p align=center>
                <p align=center style="color:orange;font-size: x-large;"> A warm welcome </p>
                <p align=center style="color:orange;font-size: large">
                    Warm welcome to Blooming Buds School, a Pre Kindergarten to Year 10 day and boarding school located
                    in
                    Gossaigaon, in BTAD. <br>

                    ‘With good education, Everyone can do or be anything’.

                    We always have, and always will, champion equality for all.
                </p>
        </div>
    </div>
    <div fxLayout="column" fxShow.gt-md="false" style=" padding: 15px;margin-top: 3px; background-color: rgb(0, 0, 0);   font-family: Cambria, Cochin, Georgia, Times, Times New Roman,serif;
    color:white">
        <div style="padding: 25px">
            <p align=center>
                <p align=center style="font-size: x-large;"> A warm welcome </p>
                <p align=center style="font-size: large">
                    Warm welcome to Blooming Buds School, a Pre Kindergarten to Year 10 day and boarding school located
                    in
                    Gossaigaon, in BTAD. <br>

                    ‘With good education, Everyone can do or be anything’.

                    We always have, and always will, champion equality for all.
                </p>
        </div>
    </div>

</div>

<!-- <mat-card>
    <mat-card-header>
      display me
    </mat-card-header>
    <mat-card-content>
      <img src='https://i.picsum.photos/id/544/900/400.jpg' />
    </mat-card-content>
  </mat-card> -->